STAGEFRONT_ENABLED=true
STAGEFRONT_URL=stagefront
STAGEFRONT_LIVE_SITE=null

STAGEFRONT_LOGIN=stagefront
STAGEFRONT_PASSWORD=stagefront
STAGEFRONT_ENCRYPTED=false

STAGEFRONT_DATABASE=false
STAGEFRONT_DATABASE_WHITELIST=null
STAGEFRONT_DATABASE_TABLE=users
STAGEFRONT_DATABASE_LOGIN_FIELD=email
STAGEFRONT_DATABASE_PASSWORD_FIELD=password

STAGEFRONT_THROTTLE=true
STAGEFRONT_THROTTLE_TRIES=3
STAGEFRONT_THROTTLE_DELAY=5
